:root {
  --pink-bg: hsl(340.65,47.69%,87.25%);
  --light-blue-bg: hsl(183.37,79.67%,51.76%);
  --grey-bg: hsl(208, 18%, 14%);
  --brown-bg: hsl(28, 31%, 55%);
  --blue-bg: hsl(238, 39%, 35%);
  --white: hsla(0, 0%, 97%, 0.8);
  --black-box-shadow: hsla(0, 0%, 23%, 0.8);
}
  
body {
  transition: 1s;
  scroll-behavior: smooth;
}

h1 {
  width: 100%;
  text-transform: uppercase;
  padding: 1rem 0 0 1rem;
  color: var(--white);
  filter: drop-shadow(2px 2px 3px black);
  letter-spacing: 0.1rem;
  margin-bottom: -1rem;  
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7vh;
}

.book-image {
  height: 80%;
  transition: 1s;
}

@media screen and (max-width: 500px) {
  .book-image {
    height: 60%;
  }
}
